.jumbotron{
    background-color: #199bf1;
    color: black;
    margin: 0%;
    margin-top: 2%;
    border-radius: 0%;
}

.nav{
    background-color: #303036;
 
}

.card-hotel{
    flex: 1 200px;
    padding: 10px;
}

.btn{
    color: white;
    width: 100%;
}

.footer{
    padding: 10px;
    background-color: #303036;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

.content-footer{
    padding: 10px;
}

.bottom-footer{
    text-align: center;
    background-color: #343a40;
    color: #686868;
}


